.label {
    background-color: #d4d2cd;
    color: #272a2e;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-right: 80px;
}

.textField {
    margin-top: 20px!important;
    height:44px;
}
.dateField {
    margin-top: 20px!important;
    height:44px;
}

.form-control{
    display: inline!important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
}

.flex-container>span {
    margin: 3px;
    text-align: center;
}

#drawer {
    height: 677px !important;
    background-color: #272a2e;
    height: 100%;
    padding-right: 0;
}

.pretty{
    margin-right:0!important;
}

.menu {
    width: 80%;
    margin-top: 20px !important;
}

.submenu {
    position: relative;
    left: 20px;
    width:70%;
}

.slide {
    overflow: hidden;
    animation: slide 0.5s forwards linear;
}

@keyframes slide {
    0% {
        height: 0;
    }

    100% {
        height: 112px;
    }
}

body{
    overflow-x:hidden;
}